click
cryptography
dnspython
fastapi
h11
httptools
idna
motor
pycparser
pydantic
pydantic_core
pymongo
pyotp
python-dotenv
PyYAML
starlette
typing-inspection
typing_extensions
uvicorn
uvloop
watchfiles
websockets
argon2-cffi
fastapi-mail